.container {
  /* background: red; */
  height: 20px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #000; */
  position: relative;
  padding: 3px;
}
.ball {
  /* background-color: white; */
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  left: 1;
}
